.Buttons {
  display: flex;
  justify-content: space-evenly;
}

.people,
.vehicles,
.planets {
  background-color: transparent;
  border: 4px solid #fdde09;
  border-radius: 30px;
  color: #fdde09;
  cursor: pointer;
  font-family: starWars;
  font-size: 28px;
  height: 50px;
  outline: 0;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 220px;
}

.people:hover,
.vehicles:hover,
.planets:hover,
.active {
  background-color: #fdde09;
  border: 4px solid black;
  color: black;
}

@media screen and (max-width: 1000px) {
  .Buttons {
    margin: 20px 10%;
  }
}

@media screen and (max-width: 850px) {
  .Buttons {
    flex-direction: column;
    justify-content: initial;
    margin: 0;
    margin-bottom: 20px;
  }

.people,
.vehicles,
.planets {
    width: 80%;
    margin: 8px 10%;
  }
}
