.CardContainer {
  background-color: #fdde09;
  border-radius: 40px;
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  justify-content: space-evenly;
  margin: 0 auto;
  opacity: 0.8;
  overflow: scroll;
  padding: 10px;
  width: 90%;
}

.center {
  flex-direction: column;
  align-items: center;
}

.emptyContainerMessage {
  font-family: starWars;
  margin: 0 10px;
  text-align: center;
}

.characterPic {
  height: 30vh;
  mix-blend-mode: multiply;
}

@media screen and (max-width: 1000px) {
  .CardContainer {
    height: 72vh;
  }
}

@media screen and (max-width: 500px) {
  .characterPic {
    height: 200px;
  }
}
