.CardContainer {
  background-color: #fdde09;
  border-radius: 40px;
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  justify-content: space-evenly;
  margin: 30px auto;
  opacity: 0.8;
  overflow: scroll;
  padding: 10px;
  width: 90%;
}

.center {
  flex-direction: column;
  align-items: center;
}

.emptyContainerMessage {
  font-family: starWars;
  margin: 0 10px;
  text-align: center;
}

.obiWanPic {
  height: 300px;
  mix-blend-mode: multiply;
}
