.card-container {
  background-color: #fdde09;
  border-radius: 40px;
  display: flex;
  flex-wrap: wrap;
  height: 65%;
  justify-content: space-evenly;
  margin: 30px auto;
  opacity: .7;
  width: 80%;
}