.App {
  background-attachment: fixed;
  background-image: url("../../images/stars-bg.jpg");
  display: grid;
  grid-template-columns: 300px 3fr;
  height: 100vh;
}

.hide {
  display: none;
}

@media screen and (max-width: 1000px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 88vh 100vh;
    height: 210vh;
  }
}

@media screen and (max-width: 850px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 88vh 100vh;
    height: 225vh;
  }
}
