.Card {
  border: 6px solid black;
  border-radius: 20px;
  height: 260px;
  margin: 10px;
  overflow: scroll;
  padding: 10px;
  text-align: center;
  width: 280px;
}

ul {
  font-size: 18px;
  line-height: 2.2;
  list-style: none;
  padding-left: 5px;
}

.name {
  font-size: 24px;
  margin: 10px 5px;
  padding-bottom: 10px;
  border-bottom: 4px solid black;
}

.favoriteIcon {
  border: 4px solid black;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  font-family: starWars;
  float: right;
  padding: 0 18px;
  position: relative;
  bottom: 14px;
}

.favoriteIcon:hover {
  background-color: black;
  border: 4px solid #fdde09;
  color: #fdde09;
  transition: all 0.4s ease-in-out;
}

.favorited {
  background-color: black;
  border: 4px solid #fdde09;
  color:#fdde09;
}
