@font-face {
  font-family: starWars;
  src: url("../../fonts/Starjedi.ttf") format("woff2");
}

.MainPage {
  display: grid;
}

.mainTitle {
  color: #fdde09;
  font-family: starWars;
  font-size: 60px;
  margin: 25px 10px;
  text-align: center;
}

.mainHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
