@font-face {
  font-family: starWars;
  src: url("../../fonts/Starjedi.ttf") format("woff2");
}

.MainPage {
  display: grid;
  grid-template-rows: 140px 80px 80px 1fr
}

.mainTitle {
  color: #fdde09;
  font-family: starWars;
  font-size: 55px;
  height: 20px;
  margin: 15px 10px 0 10px;
  text-align: center;
}

.mainHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 580px) {
  .mainTitle {
    font-size: 50px;
  }
}

@media screen and (max-width: 475px) {
  .mainTitle {
    font-size: 40px;
  }
}