@font-face {
  font-family: starWars;
  src: url("../../fonts/Starjedi.ttf") format("woff2");
}

.main-page {
  background-image: url("../../images/stars-bg.jpg");
}

.title-text {
  color: #fdde09;
  font-family: starWars;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
}

.title-favorites {
  display: flex;
  justify-content: space-around;
}
