.favoritesBtn {
  margin: 0 20% 40px 20%;
  width: 60%;
}

.favoritesToggle {
  background-color: #fdde09;
  border: 4px solid black;
  color: black;
}

.favoritesIcon {
  position: relative;
  top: 4px;
}

@media screen and (max-width: 750px) {
  .favoritesBtn {
    margin: 0 10% 10px 10%;
    width: 80%;
  }
}

@media screen and (max-width: 580px) {
  .favoritesBtn {
    height:110px;
  }
}
