.SideScroll {
  color: #FFF;
  overflow: hidden;
  text-align: justify;
}

.scrollText {
  color: #fdde09;
  font-size: 32px;
  line-height: 1.5;
  margin: 5px;
  position: aboslute;
  text-align: center;
}

.scroll {
  animation: scroll 60s infinite;
  position: relative;
}

@keyframes scroll {
  0% {
    top: 85vh;
  }
  100% {
    top: -110vh;
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .SideScroll {
    height: 86vh;
  }
}
