.SideScroll {
  background-color: #19212A;
  color: #FFF;
  height: 100vh;
  overflow: hidden;
  position: aboslute;
}

.scrollText {
  color: #fdde09;
  font-size: 32px;
  line-height: 1.5;
  margin: 5px;
  text-align: center;
}

.scroll {
  animation: scroll 30s linear;
  position: relative;
}

@keyframes scroll {
  0% {
    top: 1000px;
  }
  100% {
    top: -1000px;
  }
}
